# OOPS

In [1]:
# Question

In [2]:
# create a class named details which stores name,age, gender, class and sectionsof students. 
# call the class for 3 students.

In [3]:
# class details:

In [4]:
class details:
    def __init__(self,name,age,gender,classes,sections):
        self.name = name
        self.age=age
        self.gender=gender
        self.classes=classes
        self.section=section

# init means initailization

In [5]:
name = ("gaurav","raj","riya")
age = (16,17,18)
gender = ("male","male","female")
classes = (10,11,12)
section = ("a","b","a")

In [6]:
print(classes)

(10, 11, 12)

In [7]:
class details:
    def __init__(self,name,age):
        self.name = name
        self.age=age

        def display(self):
            return f" {self.name} {self.age}"

In [8]:
s = details("gaurav",16)
print(s.name)
print(s.age)

gaurav
16

# creating class of students

In [9]:
class details:
    def __init__(self,name,age):
        self.name = name
        self.age=age

    def display(self):
            return self.name,self.age

In [10]:
s = details("amit",19)
print(s.name, s.age)

amit 19

In [11]:
print(s.display())

('amit', 19)

# creating l, b, h

In [13]:
class area:
    def __init__(self,l,b):  # constructor
        self.l = l
        self.b= b
        
    def display(self):
            return 2*(self.l+self.b)

In [14]:
ob = area(2,4) # object
print(ob.display())

12

In [15]:
# without init
#<--------------->

class area:
    def display(self, l, b):
        return 2 * (l + b)

ob = area()
print(ob.display(5, 10))

30

In [16]:
######### CODE #)

In [17]:
class area:
    def __init__(self,l,b):  # constructor
        self.l = l
        self.b= b
        
    def display(self):
            return 2*(self.l+self.b)

In [18]:
l = int(input("enter length value"))
b = int(input("enter length value"))
ob = area(l,b) # object
print(ob.display())

enter length value2
enter length value4
12

# 18 oct 2024

In [19]:
# Create a class name student that initializes name and grades.

# calculate and print total marks obtain, avg marks and percentage obtain by student.

In [20]:
class student:
    def __init__(self,name,grades,marks,avg_marks,percentaga):  # constructor
        self.name = name
        self.grades= grades
        self.marks = marks
        self.avg_marks = avg_marks
        self.percentage = percentage


    def display(self):
            return f"{self.name}, {self.grades}, {self.marks}, {self.avg_marks}, {percentage}"

In [21]:
name = "raj"
grades = "A"

sub1 = 90
sub2 = 80
sub3 = 90
total_marks = sub1+sub2+sub3

avg_marks= total_marks/3

percentage = (total_marks/300)*100

In [22]:
ob = display(name, grades,total_marks,avg_marks,percentage) # creating 
ob

'raj'

'A'

260

86.66666666666667

86.66666666666667

In [23]:
class Student:
    def __init__(self, name, M1, M2, M3, M4, M5):
        self.name = name
        self.M1 = M1
        self.M2 = M2
        self.M3 = M3
        self.M4 = M4
        self.M5 = M5

    def total_marks(self):
        return self.M1 + self.M2 + self.M3 + self.M4 + self.M5
    
    def avg_marks(self):
        return self.total_marks() / 5 
    
    def percentage(self):
        total_possible_marks = 100 * 5  
        return (self.total_marks() / total_possible_marks) * 100
    
    def result(self):
        print(f"Name: {self.name}")
        print(f"Total Marks: {self.total_marks()}")
        print(f"Average Marks: {self.avg_marks()}")
        print(f"Percentage: {self.percentage()}")

student1 = Student("Aliya", 63, 92, 96, 81, 95)
student1.result()

Name: Aliya
Total Marks: 427
Average Marks: 85.4
Percentage: 85.39999999999999